<footer class="footer">
  <div class="container">
    <div class="row text-light" style="padding-top: 5em">
      <div class="col-md-12 mx-auto text-center">
        <h3>subscribe to our newsletter</h3>
        <p> stay informed about us, news and events</p>
      </div>
      <div class="col-md-7 pt-5 mx-auto">
          <div class="input-group mb-3" style="width: 100%">
              <div class="custom-file">
                  <input  class="custom-file-input" >
                  <label class="custom-file-label" ></label>
                </div>
              </div>
      </div>
      <div class="col-md-6 offset-md-3 pt-5 d-flex justify-content-around " >
        <ul class="nav text-uppercase  " style="font-size:small">
          <li class="nav-item">
            <a class="nav-link" href="#">Our services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">offer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">my account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">pro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">contact us</a>
          </li>
        </ul> 
      </div>   
    </div>
    <div class=" col-md-2 col-6 mx-auto pt-5 ">
      <img class="p-3" src="assets/images/ic_facebook@1x.png">
      <img class="p-3" src="assets/images/ic_twitter@1x.png">
      <img  class="p-3" src="assets/images/ic_youtube@1x.png">
    </div>
    
  </div>
  
  
    </footer>
  
  
  