<section class="container1">
  <div class="mx-auto pt-4 pb-3 d-none d-md-block d-lg-block" style="width: 200px ;padding-right: 21%">
    <img src="assets/images/logo_slider_home@1x.png">
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand  d-sm-block d-md-none pt-4" href="#"> <img src="assets/images/logo_slider_home@1x.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav  text-light mx-auto text-uppercase font-weight-lighter">
        <li class="nav-item active">
          <a class="nav-font " href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-font" href="#">Our services</a>
        </li>
        <li class="nav-item">
          <a class="nav-font" href="#">Offer</a>
        </li>
        <li class="nav-item">
          <a class="nav-font" href="#">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-font" href="#">pro</a>
        </li>
        <li class="nav-item">
          <a class="nav-font" href="#">contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-font" href="#">pl</a>
        </li>

      </ul>
    </div>
  </nav>



  <div class="container text-center paragraph1 mx-auto text-light col-md-6 ">
    <h3 class=" text-uppercase">pamper yourself pretty</h3>
    <div></div>
    <p class="pt-3 pb-5 col-md-11">
      Treat yourself to one of our signature services. Our beloved Beauty experts will wow your brows,getyou glowin'
      and so much more. You'll leave looking and feeling more gorgeous than ever before.
    </p>
    <button type="button" class="btn btn-outline-light text-uppercase "
      style="width:260px ; border:2px solid white;" (click)="reserveBtn()">i reserve</button>

  </div>
</section>
