<section>
  <div class="jumbotron ">
      <div class="">
          <div class="col-md-3  mx-auto text-center ">
              <div class="text-uppercase text-title">We are close to you on</div>
              <hr>
            </div>              
            <div class=" mt-5 row">
              <div class="col-md-6 ">
                <img  class="img-fluid"src="../../assets/images/mobile_phones@1x.png">
                
              </div>
              <div class="col-md-6 d-flex align-items-center">
                  <div class="row">
                    <div class="col-md-9 mx-auto  mb-3 text-center">
                <small>Polish hurry and technophile...three, two, one...Fire!</small>
                <small> Our app is available on your smatphone!You can also make an appointment on our mobile site.</small>
              </div>
                  <div class="col-md-6 col-sm-4 col-4 ml-5 mx-auto">
                    <img class="img-fluid" src="../../assets/images/ic_available_app_store_norml@1x.png">
                  </div>
                  <div class="col-md-6 col-sm-4 col-4  mx-auto">
                    <img class="img-fluid" src="../../assets/images/ic_available_google_play_normal@1x.png">
                  </div>
                  <div class="col-md-5 col-sm-8 col-8  mt-5 mx-auto">
                      <button type="button" class="btn btn-danger text-uppercase "
                      style="width: 100%;">Explore it</button>
                  </div>
                
                </div>
              </div>
            </div>
      </div>
    </div>
</section >